/* for all */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.btn{
  border-radius: 4px;
  background-color: #30B868;
  border: none;
  padding: 12px 16px ;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  cursor: pointer;
}
.size{
  font-size: 80px;
}
.green{
  color: #30B868;
}
.white{
  color: #FFFFFF;
}
.card-container .card .img{
  border-radius: 50%;
  background-color: #F95555;
  width: 60px;
  height: 60px;
  padding: 1.5px 2.49px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-container .card .img img{
  height: 32px;  
  width: 32px;  
           
}
.card-container .card .img {
  margin: 0 auto;
}
.p{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #627382;
}
.h{
  font-size: 48px;
  line-height: 58px;
  text-align: center;
}


/* Specific */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
}
nav .logo{
  margin: 16px 0;
  margin-left: 120px;
}
nav .menu{
  display: flex;
  list-style-type: none;
  gap: 32px;
}
nav .menu a{
  text-decoration: none;
  font-weight: 600;
  line-height: 152%;
  color: #000000;
}

nav button {
  margin: 24px 0;
  margin-right: 120px;
}
#banner{
  background-image: url(assets/hero-bg.png);
  min-height: 674px;
  padding: 115px 0 180px;
  background-size: cover;
  background-position: center;
}
#banner .banner-container{
  text-align: center;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 120px;
}
#banner .banner-container .content{
  max-width: 770px;
  margin: 0 auto;
}

#banner .banner-container .b1{
  background-color: #FFFFFF;
  color: #30B868;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px 8px 12px;
  border-radius: 1000px;
  border: none;
  margin: 0 auto 16px;
  display: flex;
  gap: 6px;
}
#banner .banner-container p{
  color: #FFFFFF;
  line-height: 24px;
  font-size: 18px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 32px;
}
.content .actions{
  display: flex;
  gap: 16px;
  justify-content: center;
}
.content .actions .b2{
  padding:16px;
  text-align: left;
  display: flex;
  gap: 10px;
}

.content .actions .b3{
  background-color: transparent;
  padding: 16px;
  color: #FFFFFF;
  border: 1px solid white;
  display: flex;
  gap: 10px;
}
#card-section{
  padding: 0px 120px;
  padding-top: 75px;
}
#card-section header p{
  margin-top: 16px;
  margin-bottom: 44px;
}
#card-section .card-container{
  display: flex;
  gap: 24px;
}
#card-section .card-container .card{
  padding: 70px 24px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px #00000022;

}
.card-container .card h4{
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #001931;
  margin: 16px 0px;
}
