/* for all */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.btn{
  border-radius: 4px;
  background-color: #30B868;
  border: none;
  padding: 12px 16px ;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
}
.size{
  font-size: 80px;
}
.green{
  color: #30B868;
}
.white{
  color: #FFFFFF;
}



/* Specific */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
}
nav .logo{
  margin: 16px 0;
  margin-left: 120px;
}
nav .menu{
  display: flex;
  list-style-type: none;
  gap: 32px;
}
nav .menu a{
  text-decoration: none;
  font-weight: 600;
  line-height: 152%;
  color: #000000;
}

nav button {
  margin: 24px 0;
  margin-right: 120px;
}
#banner{
  background-image: url(images/H-back.png);
  min-height: 674px;
  padding: 115px 0 180px;
  background-size: cover;
  background-position: center;
}
#banner .banner-container{
  text-align: center;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 120px;
}
#banner .banner-container .content{
  max-width: 770px;
  margin: 0 auto;
}

#banner .banner-container .b1{
  width: 229px;
  background-color: #FFFFFF;
  color: #30B868;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px 8px 34px;
  border-radius: 1000px;
  border: none;
  margin-bottom: 16px;
}
#banner .banner-container p{
  color: #FFFFFF;
  line-height: 24px;
  font-size: 18px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 32px;
}
.content .actions{
  display: flex;
  gap: 16px;
  justify-content: center;
}
.content .actions .b2{
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 46px;
  padding-bottom: 16px;
  max-width: 251px;
}
.content .actions .b3{
  background-color: transparent;
  max-width: 198px;
  padding-top: 16px;
  padding-left: 46px;
  padding-right: 16px;
  padding-bottom: 16px;
  color: #FFFFFF;
  border: 1px solid white;
}

